@media screen and (max-width: 599px) {
	header {
		max-width: 100%;
		height: 23rem;
		background-color: #fff;
		display: flex;
		align-content: flex-start;
		justify-content: flex-end;
		margin-bottom: 3rem;
	}

	header a:hover {
		background-color: #eee;
		color: #666;
		text-decoration: none;
		display: block;
	}

	#logo {
		display: none;
	}

	#b_box {
		width: 20rem;
		height: 20rem;
		z-index: 777;
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-content: flex-end;
	}

	#b_box img {
		width: 8rem;
		height: 8rem;
	}

	.menu {
		display: flex;
	}

	.wrap-logo {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.logo-ver2 {
		width: 20rem;
		height: 20rem;

		display: flex;
		align-items: center;
		justify-content: center;
		animation-name: moveInRight;
		animation-timing-function: ease-out;
		animation-duration: 3s;
	}

	.wrap-logo {
		display: flex;
		width: 20rem;
		height: 29rem;
	}

	.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 103;
		top: 0;
		left: 0;
		background-color: rgb(0, 0, 0);
		overflow-x: hidden;
		transition: 0.5s;
		display: flex;
		align-content: space-around;
		align-items: flex-start;
		justify-content: flex-end;
	}
	.overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		display: block;
		margin-top: 30px;
	}

	.overlay a {
		padding: 1px;
		line-height: 160%;
		text-decoration: none;
		font-size: 3rem;
		color: #818181 !important;
		transition: 0.3s;
		font-weight: bold;
		display: block;
	}

	.overlay a:hover,
	.overlay a:focus {
		color: #f1f1f1;
	}
	.overlay .closebtn {
		position: absolute;
		top: 2rem;
		right: 4;
	}

	#under_box {
		width: 23rem;
		height: 15rem;
		margin-top: 8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		display: block;
	}

	#under_box img {
		border-radius: 80%;
		background-color: #1ecbe2;
		margin-left: 1rem;
	}

	.box {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.box img {
		border-radius: 80%;
		background-color: #1ecbe2;
		margin-left: 1rem;
	}

	.navigation {
		display: none;
	}

	#messenger_box {
		display: block;
	}

	footer {
		height: 25rem;
		background-color: rgb(0, 0, 0);
		font-size: 3.5rem;
		font-family: "Alfa Slab One", cursive;
	}

	#wrapping_footer {
		width: 100%;
		height: 20rem;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-end;

		flex-wrap: wrap;
		align-content: space-around;
	}
	#wrapping_footer {
		width: 100%;
		height: 10rem;
		display: flex;
		align-items: baseline;
		justify-content: center;
		flex-wrap: nowrap;
		flex-direction: row;
	}
	.logo-text {
		color: white;
	}

	.container_right {
		width: 20rem;
		height: 10rem;
	}

	.container_left {
		width: 20rem;
		height: 10rem;
		color: whitesmoke;
		font-weight: 600;
	}

	.container_right img {
		border-radius: 100px;
		background-color: #1ecbe2;
		opacity: 0.5;
	}
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
	header a {
		padding: 15px;
		text-decoration: none;
		display: block;
	}

	header a:hover {
		background-color: #eee;
		color: #666;
		text-decoration: none;
		display: block;
	}

	header {
		width: 100%;
		height: 30rem;
		position: fixed;
		left: 0px;
		top: 0px;
		background-color: none;
		z-index: 1;
		display: flex;
		justify-content: space-between;
	}

	#b_box {
		width: 30rem;
		height: 20rem;
		display: flex;
		align-content: stretch;
		flex-direction: row;
		justify-content: flex-end;
	}

	header {
		width: 100%;
		height: 20rem;
		background-color: rgb(255, 255, 255);
		display: flex;
		align-content: flex-start;
		justify-content: flex-end;
		margin-bottom: 3rem;
	}

	#b_box img {
		width: 8rem;
		height: 8rem;
	}

	#logo_ver2 {
		width: 100%;
		height: 23rem;
		background-color: darkorange;
	}

	#logo {
		display: none;
	}

	.wrap-logo {
		display: flex;
	}
	.logo {
		width: 8rem;
		line-height: 5rem;

		color: #fff;
		text-align: center;
	}
	#a {
		display: none;
	}
	img {
		cursor: pointer;
	}

	.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 103;
		top: 0;
		left: 0;
		background-color: rgb(0, 0, 0);
		overflow-x: hidden;
		transition: 0.5s;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}

	.overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		display: block;
		margin-top: 30px;
	}

	.overlay a {
		padding: 1-px;
		line-height: 160%;
		text-decoration: none;
		font-size: 3rem;
		color: #818181 !important;
		transition: 0.3s;
		font-weight: bold;
		display: block;
	}

	.overlay a:hover,
	.overlay a:focus {
		color: #f1f1f1;
	}
	.overlay .closebtn {
		position: absolute;
		top: 2rem;
		right: 4;
	}

	#logo-container {
		width: 100%;
		height: 20rem;

		display: flex;
		flex-direction: row;
		align-content: stretch;
		justify-content: space-between;
	}

	#logo-ver2 {
		position: relative;
		bottom: 2rem;
		z-index: 600;
		margin: 0;
		float: none;
		width: 23rem;
		height: 20rem;

		display: flex;
		align-items: center;
		justify-content: center;
		animation-name: moveInRight;
		animation-timing-function: ease-out;
		animation-duration: 3s;
	}

	/*#logo-container {
		width:100%;
		height:33rem;
		display: flex;
	}*/

	#logo img {
		width: 10rem;
		height: 10rem;
		margin-top: 10rem;
		margin-left: 3rem;
	}

	nav {
		display: none;
	}

	#messenger_box {
		display: none;
	}

	ul {
		width: 23rem;
		height: auto;
		padding-right: 5rem;
	}

	li a {
		display: block;
		padding-right: 5rem;
		padding-left: 0px;
		color: cadetblue;
		font-size: 1.5rem;
		font-weight: 70rem;
		text-align: right;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: block;
		color: black;
		padding: 1rem;
		text-decoration: none;
		font-weight: bolder;
		list-style: none;
	}

	li a.current {
		background-color: orangered;
		color: white;
	}

	li a:hover {
		background-color: rgb(43, 134, 194);
		color: white;
	}

	#under_box {
		width: 100%;
		height: 30rem;
		margin-top: 8rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.box {
		display: flex;
	}
	.box img {
		border-radius: 80%;
		background-color: #1ecbe2;
		margin-left: 1rem;
	}

	footer {
		height: 20rem;
		background-color: rgb(0, 0, 0);
		font-size: 3.5rem;
		font-family: "Alfa Slab One", cursive;
	}

	#wrapping_footer {
		width: 100%;
		height: 20rem;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-end;

		flex-wrap: wrap;
		align-content: space-around;
	}

	#wrapping_footer {
		width: 100%;
		height: 10rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.logo-text {
		color: white;
	}

	.container_right {
		width: 30rem;
		height: 10rem;
	}

	.container_right img {
		border-radius: 100px;
		background-color: #1ecbe2;
		opacity: 0.5;
	}

	.container_right img {
		border-radius: 100px;
		background-color: #1ecbe2;
		opacity: 0.5;
	}
	.container_left {
		width: 20rem;
		height: 10rem;
		color: whitesmoke;
		font-weight: 600;
	}
}

/*가장 큰사이즈입니다 */

@media screen and (min-width: 1200px) {
	#header {
		display: block;
		width: 23rem;
		height: 100%;
		position: fixed;
		left: 0px;
		top: 0px;
		background-color: none;
		border-right: 1px solid #ccc;
	}

	header a {
		padding: 15px;
		text-decoration: none;
		display: block;
	}

	header a:hover {
		background-color: #eee;
		color: #666;
		text-decoration: none;
		display: block;
	}

	nav {
		display: block;
		display: fixed;
		width: 23rem;
		height: 50rem;
		position: fixed;
		left: 0px;
		top: 0px;
		background-color: none;
	}

	#myNav {
		display: none;
	}
	.navigation {
		display: block;
	}

	#messenger_box {
		width: 23rem;
		height: 25rem;

		display: flex;
		justify-content: center;
	}

	.msg_box {
		width: 23rem;
		height: 10rem;
		display: flex;
	}
	#messenger_box img {
		width: 5rem;
		height: 5rem;
		border-radius: 10rem;
		background-color: #1ecbe2;
	}

	#messenger_wrap {
		width: 5rem;
		height: 5rem;
	}

	#logo-ver2 {
		display: none;
	}
	#b_box {
		display: none;
	}
	#logo {
		position: relative;
		margin: 0;
		float: none;
		width: 23rem;
		height: 20rem;

		display: flex;
		align-items: center;
		justify-content: center;
		animation-name: moveInRight;
		animation-timing-function: ease-out;
		animation-duration: 3s;
	}

	#logo img {
		width: 10rem;
		height: 10rem;
		margin-top: 10rem;
		margin-left: 3rem;
	}

	ul {
		width: 23rem;
		height: auto;
		padding-right: 5rem;
	}

	li a {
		display: block;
		padding-right: 5rem;
		padding-left: 0px;
		color: cadetblue;
		font-size: 1.5rem;
		font-weight: 70rem;
		text-align: right;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: block;
		color: black;
		padding: 1rem;
		text-decoration: none;
		font-weight: bolder;
		list-style: none;
	}

	li a.current {
		background-color: orangered;
		color: white;
	}

	li a:hover {
		background-color: rgb(43, 134, 194);
		color: white;
	}

	#under_box {
		width: 23rem;
		height: 15rem;
		margin-top: 8rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.box {
		width: 23rem;
		height: 20rem;
		display: flex;
	}

	.box img {
		border-radius: 80%;
		background-color: #1ecbe2;
		margin-left: 1rem;
		width: 40px;
		height: 40px;
	}

	footer {
		height: 20rem;
		background-color: black;
		font-size: 3.5rem;
		font-family: "Alfa Slab One", cursive;
	}

	#wrapping_footer {
		width: 100%;
		height: 10rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.logo-text {
		color: white;
	}

	.container_right {
		width: 30rem;
		height: 10rem;
	}

	.container_right img {
		border-radius: 100px;
		background-color: #1ecbe2;
		opacity: 0.5;
	}

	.container_left {
		width: 20rem;
		height: 10rem;
		color: whitesmoke;
		font-weight: 600;
	}
}
