*{
  box-sizing: border-box;
  
}
ul,ol,li{
  list-style: none;
}

a{
  text-decoration: none;
}


@media (max-width:599px) {
  body{	width: 100%;
	height: 100%;
	
	margin-left: 0;}
  header{width: 100%;height: 15rem;position: initial;

  }

  nav{width: 100%;height: 30rem;position: initial; }
  .a {display: none;}
  #b{display: block;position: relative; left:43rem; bottom:20rem;}
  #logo img {width:8rem; height: 8rem; position: absolute; bottom: 12rem;left:23rem;

    
  }

  
 
  
  .overlay {
    height: 100%; width: 0; position: fixed; z-index:103; top:0; left:0; background-color: rgb(41, 5, 5);background-color: rgba(0,0,0,0.9); overflow-x:hidden; transition: 0.5s;
  }

  .overlay-content {
    position: relative; top: 25%; width: 100%; text-align: center;display: block; margin-top: 30px;
  }

  .overlay a {
    padding:10px;line-height: 160%; text-decoration: none; font-size:30px; color: #818181;
    transition: 0.3s;font-weight: bold; display: block;
  }

  .overlay a:hover, .overlay a:focus {color:#f1f1f1;}

  .overlay .closebtn {
    position:absolute;top: 2rem; right: 4.5rem; font-size:6rem
  }


section {
	position: initial;

	width: 100%;

}


@media (min-width:600px) {

  
}

@media (min-width:1100px) {

}