
header {
	width: 23rem;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	
}

nav {
	width: 23rem;
	height: 100%;

	position: fixed;

	left: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid rgb(255, 255, 255);
}

#logo {
	position: relative;
	margin: 0;
	float: none;
	width: 23rem;
	height: 20rem;
	background-color: none;
	display: flex;
	align-items: center;
	justify-content: center;
	animation-name: moveInRight;
	animation-timing-function: ease-out;
	animation-duration: 3s;
}

#logo img {
	width: 10rem;
	height: 10rem;
	margin-top: 10rem;
	margin-left: 3rem;
}

ul {
	width: 23rem;
	height: auto;
	padding-right: 5rem;
}

li a {
	display: block;
	padding-right: 5rem;
	padding-left: 0px;
	color: cadetblue;
	font-size: 1.5rem;
	font-weight: 70rem;
	text-align: right;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	color: black;
	padding: 1rem;
	text-decoration: none;
	font-weight: bolder;
	list-style: none;
}

li a.current {
	background-color: orangered;
	color: white;
}

li a:hover {
	background-color: rgb(43, 134, 194);
	color: white;
}

#under_box {
	width: 23rem;
	height: 15rem;
	margin-top: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box img {
	border-radius: 80%;
	background-color: #1ecbe2;
	margin-left: 1rem;
}
   


footer {
	height: 15rem;
	background-color: black;
	font-size: 3.5rem;
}

#wrapping_footer {
	display: flex;
	align-content: space-around;
	justify-content: space-around;
}

.container_left {
	color: rgb(233, 232, 232);
	padding-top: 2rem;
	padding-left: 2rem;
	width: 30rem;
	height: 15rem;

	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}

.container_right {
	width: 30rem;
	height: 15rem;

	padding-top: 2rem;
	padding-left: 1rem;
}

.container_right img {
	border-radius: 80%;
	background-color: #1ecbe2;
	margin-left: 1rem;
}