*{
  box-sizing: border-box;
  
}
ul,ol,li{
  list-style: none;
}

a{
  text-decoration: none;
}


@media (max-width:599px) {
  body{	width: 100%;
	height: 100%;
	
	margin-left: 0;}
  header{width: 100%;height: 15rem;position: initial;

  }

  #container_min {
    width:50rem;
    height: 10rem;
    
    display: grid;

  }
  nav{width: 100%;height: 30rem;position: initial; }
  .a {display: none;}
  #b{display: block; cursor: pointer;
  }
  #b_box{
    width:5rem;height: 5rem;
  }

  #container_min {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;    
  }

  #under_box{display: none;}

  .messenger {
    display: flex;
    align-content: space-around;
    justify-content: flex-end;

  }
  #logo{
    width:8rem; height: 8rem; 
  }
  #logo img {width:8rem; height: 8rem; 


   
  }

  
 #myNav{display: block;}
  
  .overlay {
    height: 100%; width: 0; position: fixed; z-index:1; top:0; left:0; background-color: rgba(24, 23, 23, 0.8); overflow-x:hidden; transition: 0.5s;
  }

  .overlay-content {
    position: relative; top: 25%; width: 100%; text-align: center;display: block; margin-top: 30px;
  }

  .overlay a {
    padding:10px;line-height: 160%; text-decoration: none; font-size:30px; color: #818181;
    transition: 0.3s;font-weight: bold; display: block;
  }

  .overlay a:hover, .overlay a:focus {color:#f1f1f1;}

  .overlay .closebtn {
    position:absolute;top: 2rem; right: 4.5rem; font-size:6rem;
    color:#f1f1f1;
  }


section {width: 100%;
	position: initial;
    
  
}

.heading-primary {display:none;}

#text-box-ver2 {display: block;
  width: 40rem; height: 40rem;     display: flex;
    margin-right: 10rem;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
}


.text-first {
	font-size: 2rem;
	font-weight: 600;
	color:#fff;
	animation-name: moveInLeft;
	animation-duration: 1s;
	display: block;
	animation-timing-function: ease-out;
	height: 6rem;
	margin-bottom: 2rem; padding-left: 50rem;}

  .text-second {
	display: block;
	font-size: 2rem;
	font-weight: 700;
  color:#fff;
	line-height: 1.5;
	animation-name: moveInRight;
	animation-timing-function: ease-out;
	animation-duration: 2s;
	animation-delay: 2s;
  padding-left:50rem;
}

 



	

}


@media (min-width:600px) {

  
}

@media (min-width:1100px) {

}