* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


ul li {
	list-style: none;
}

html {
	/*font-size: 10px; */
	/*10px / 16px =0.625 = 62.5% */
	/*percentage of user's browser font-size setting*/
	font-size: 62.5%;
}

#b{display:none;}

#myNav{display: none;}

#messenger{display:none;}

body {
	width: calc(100%-23rem);
	width: -moz-calc(100%-23rem);
	width: -webkit-calc(100%-23rem);
	height: 100%;
	float: right;
	margin-left: -23rem;

	font-size: 1.5rem;
	line-height: 2rem;

	font-size: 14;
	line-height: 2rem;
}

header {
	width: 23rem;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
}

nav {
	width: 23rem;
	height: 100%;

	position: fixed;

	left: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid rgb(255, 255, 255);
}

#logo {
	position: relative;
	margin: 0;
	float: none;
	width: 23rem;
	height: 20rem;
	background-color: none;
	display: flex;
	align-items: center;
	justify-content: center;
	animation-name: moveInRight;
	animation-timing-function: ease-out;
	animation-duration: 3s;
}

#logo img {
	width: 10rem;
	height: 10rem;
	margin-top: 10rem;
	margin-left: 3rem;
}

.menu {display: none;}
ul {
	width: 23rem;
	height: auto;
	padding-right: 5rem;
}

li a {
	display: block;
	padding-right: 5rem;
	padding-left: 0px;
	color: cadetblue;
	font-size: 1.5rem;
	font-weight: 70rem;
	text-align: right;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	color: black;
	padding: 1rem;
	text-decoration: none;
	font-weight: bolder;
	list-style: none;
}

li a.current {
	background-color: orangered;
	color: white;
}

.bird {
	opacity:0.5;
}
li a:hover {
	background-color: #1ecbe2;
	color: white;
}

#under_box {
	width: 23rem;
	height: 15rem;
	margin-top: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box img {
	border-radius: 80%;
	background-color: #1ecbe2;
	margin-left: 1rem;
}

section {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 23rem);
	width: -moz-calc(100% - 23rem);
	width: -webkit-calc(100% - 23rem);
}

/* 페이지 띄워서 첫 화면의 모습입니다 */
#slider {

	text-transform: uppercase;
	height: 100rem;

	background-image: linear-gradient(
			to right bottom,
			rgba(35, 192, 251, 0.5),
			rgba(35, 193, 251, 0.5)
		),
		url(../img/westerdam.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	position: relative;
}

.text-box {
	position: absolute;
	width: 100rem;
	height: 20rem;
	top: 50%;
	left: 50%;
	font-family: sans-serif;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}


 #text-box-ver2 {display: none;}
.text-header {
	font-size: 4rem;
	font-weight: 600;
	
	animation-name: moveInLeft;
	animation-duration: 1s;
	display: block;
	animation-timing-function: ease-out;
	height: 6rem;
	margin-bottom: 2rem;
}

.text-under {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.5;
	animation-name: moveInRight;
	animation-timing-function: ease-out;
	animation-duration: 2s;
	animation-delay: 1s;
}

h1 {
	display: block;
	font-size: 3em;
	letter-spacing: 2rem;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(-10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInButton {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes toTheLeft {
	0% {
		opacity: 0;
		transform: translateX(600px);
	}

		40% {
		transform: translateX(400px);
	}

	80% {
		transform: translateX(200px);
	}

	100% {
		opacity: 1;
		transform: translate(200px);
	}
}


.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2);
}
.btn:link,
:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 10rem;
	transition: all 0.2s;
	position: relative;
	margin-bottom: 20px;
}

.btn-white {
	background-color: #fff;
	color: #777;
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn-white::after {
	background-color: #fff;
}

.btn-animated {
	animation: moveInButton 0.5s ease-out 0.75s;
	animation-fill-mode: backwards;
}



#day {
	width: 20rem;
	padding: 1rem;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	border: 1px solid #999;
	border-radius: 0px;

	-webkit-appearance: none;
	-moz-appearance: none;
	/*appearance: none;*/
}


.max {
	margin-left: 10rem;
}

.blob-btn {
	z-index: 1;
	position: relative;
	padding: 2rem 4.5rem;
	margin-bottom: 3rem;
	text-align: center;
	text-transform: uppercase;
	color: #4cebeb;
	font-size: 1.6rem;
	font-weight: bold;
	background-color: transparent;
	outline: none;
	border: none;
	transition: color 0.5s;
	cursor: pointer;
}
.blob-btn:before {
	content: "";
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 6px solid #0fe0f5;
}
.blob-btn:after {
	content: "";
	z-index: -2;
	position: absolute;
	left: 9px;
	top: 9px;
	width: 100%;
	height: 100%;
	border: 6px solid #222;
	transition: all 0.3s 0.2s;
}
.blob-btn:hover {
	color: #222;
}
.blob-btn:hover:after {
	transition: all 0.3s;
	left: 0;
	top: 0;
}
.blob-btn__inner {
	z-index: -1;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.blob-btn__blobs {
	position: relative;
	display: block;
	height: 100%;
	filter: url("#goo");
}
.blob-btn__blob {
	position: absolute;
	top: 6px;
	width: 25%;
	height: 100%;
	background: #0fe0f5;
	border-radius: 100%;
	transform: translate3d(0, 150%, 0) scale(1.7);
	transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
	.blob-btn__blob {
		transform: translate3d(0, 150%, 0) scale(1.4);
	}
}
.blob-btn__blob:nth-child(1) {
	left: 0%;
	transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
	left: 30%;
	transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
	left: 60%;
	transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
	left: 90%;
	transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
	transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
	.blob-btn:hover .blob-btn__blob {
		transform: translateZ(0) scale(1.4);
	}
}

#img {
	height: 6rem;
  
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20rem;
	padding-bottom: 5rem;
}



.text {
	height: 10rem;
	background-color: white;
	font-size: 2rem;
	font-family: "Alfa Slab One";
	display: flex;
	align-items: center;
	justify-content: center;
}

#offers {
	height: 700px;

	border-bottom: 1px solid #bdb0b0;
	display: flex;
	align-items: center;
	justify-content: center;

}

.container {
	overflow: hidden;
	width: 42rem;
	
}



#offers img {
		max-width: 100%;
		
	
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #ccc;

	transform: scale(1);

	transition: 0.2s;
}


#offers :hover img {
	transform: scale(1.1);
	cursor: pointer;
}

.tour {
	font-size: 14pt;
	padding-top: 30px;
	font-family: "Bangers", cursive;
}

.description{
	font-family: "Secular One", sans-serif;
}


#wrap_1 {
	border-bottom: 1px solid #ccc;
	height:26rem;
	border-right: 1px solid #ccc;
}

#experience {
	width: 100%;
	height: 1200px;

	background-image: url(../img/cr.png);
	background-position: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-around;
}

.map {
	width: 30px;
	display: flex;
	align-items: flex-start;
	animation-name: moveInRight;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-delay: 5s;
}

.icecream {
	width: 450px;
	height: 300px;
	background-color: ivory;
}

#box_cr {
	width: 1200px;
	height: 300px;

	display: flex;
	align-content: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	margin-left: 20px;
	font-family: "Abril Fatface", cursive;
}

.ultimate {
	color: white;
	letter-spacing: 0.5rem;
	animation-name: moveInLeft;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-delay: 5s;
}

.beautiful {
	color: rgb(189, 186, 186);
	letter-spacing: 1rem;
	animation-name: moveInRight;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-delay: 5s;
}

.map {
	width: 30px;
	height: auto;
}

#wrap_3 {
	display: flex;
	justify-content: space-around;
}
.newyork {
	font-family: "Bangers", cursive;
}
.box_3 {
	width: 350px;
	height: 250px;
	background-color: darkgrey;
	margin-left: 30px;
	background-color: yellow;

	font-family: "Secular One", sans-serif;
}

.box_3 img {
	width: 150px;
	height: 250px;
}

.text_3 {
	width: 200px;
	height: 250px;
	background-color: aliceblue;
	position: relative;
	bottom: 255px;
	left: 150px;
	padding-left: 1rem;

	font-family: "Secular One", sans-serif;
}

.extended {
	width: 100%;
	height: 150px;

	border: 1px solid #ccc;
}

.web {
	color: #1ecbe2;
}
.container_2 {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	font-size: 5vh;
	font-weight: bold;
	font-family: "Road Rage", cursive;
}

.btn2 {
	display: inline-block;
	width: 20rem;
	height: 80px;
	position: relative;
	font-size: 20px;
	font-family: "Road Rage", cursive;
	cursor: pointer;
	padding: 0.8em 1em;
	border: 1px solid #333;
	border-radius: 10rem;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(black, 0.2);
	background: lighten(#f0f4c3, 10%);
	transform: translate3d(0, 0, 0);
}

.wave {
	opacity: 0.4;
	position: absolute;
	bottom: 3%;
	left: 50%;
	background: #0af;
	width: 300px;
	height: 300px;
	margin-left: -160px;
	margin-bottom: -350px;
	transform-origin: 50% 48%;
	border-radius: 50%;

	transition-duration: 0.75s;
	transition-property: margin-bottom;
	transition-timing-function: ease;
}

button:hover .wave {
	margin-bottom: -250px;
	animation: rotate 4000ms infinite linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}

.btn_text {
	font-size: x-large;
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#services {
	height: 900px;
	background-color: dodgerblue;
	font-family: "Pacifico", cursive;
}

#core_sv {
	height: 350px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 10vh;
}

.core_svs {
	font-size: 2rem;
	padding-top: 30px;
	padding-bottom: 2.5vh;
	font-family: "Alfa Slab One", cursive;
	letter-spacing: 3px;
	font-size: 2rem;
}

.core_explain {
	font-size: 2rem;
	padding-bottom: 2rem;

	font-family: "Bangers", cursive;

	padding-top: 2rem;
	letter-spacing: 1px;

	color: #ccc;
}

#explain {
	height: 1200px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#container_1 {
	width: 350px;
	height: 250px;

	margin-right: 40px;
}

#container_1 img {
	width: 65px;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	font-family: "Permanent Marker", cursive;
	font-size: 2.5rem;
}

.next_to {
	width: 280px;
	height: 250px;

	position: relative;
	left: 70px;
	bottom: 70px;
	font-family: "Secular One", sans-serif;
}

#wrapping {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 900px;
	margin-right: 20px;
	animation-name: moveInRight;
	animation-timing-function: ease-in;

	animation-duration: 3s;
}



.btn3 {
	width: 100px;
	height: 30px;
	cursor: pointer;
}

.blabla_2 {
	text-decoration: underline;
}

#experts {
	height: 600px;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#devices {
	width: 400px;
	height: 600px;
}

#img_devices {
	position: absolute;
	left: 10rem;
	width: 10rem;
	height: 5rem;
	margin-left: -5rem;
	animation-timing-function: linear;
	animation-duration: 3s 2;
}

.computer {
	top: 140px;
	width: 50rem;
	height: 50rem;
	border-radius: 1rem;
	animation-name: toTheLeft;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-duration: 5s;
}

@keyframes iteration-count {
	from {
		left: 100px;
	}

	to {
		left: 300px;
	}
}

#list_experts {
	width: 400px;
	height: 400px;
}

.discount {
	font-family: "Secular One", sans-serif;
	width: 20rem;
	height: fit-content;
}

.discount li {
	width: 40rem;
	padding: 1rem;
}

.we {
	font-size: 2.5rem;
	font-family: "Permanent Marker", cursive;
}

.we_explain {
	font-family: "Permanent Marker", cursive;
}
.boat {
	width: 1rem;
	height: 1rem;
}

.btn4 {
	width: 15rem;
	height: 3rem;
	border-radius: 5px;
	color: deepskyblue;
	cursor: pointer;
}



#destinations {
	height: 40rem;
	width: auto;

	padding-top: 10rem;
	display: flex;
	flex-direction: column;
	align-items: space-between;
}

#destiny {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.popular {
	font-family: "Alfa Slab One", cursive;
	font-size: 2.5vh;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.tourbox_container {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

#ad img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
	border: 1px #ccc solid;

	transform: scale(1);
	transition: 0.2s 0.1s;
}

.inside_container {
	display: flex;
	justify-content: space-around;
	font-family: "Bangers", cursive;
	border: 2px sollid #ccc;
	height: 8rem;
	width: 100%;

	padding-top: 2rem;
}

.btn5 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 1rem;
	padding-left: 1rem;
}

.in_text {
	display: flex;
	justify-content: center;
	align-items: center;
}
.price {
	font-size: 2rem;
}

#newsletter {
	height: 20rem;
	background-color: darkseagreen;
	display: flex;
	align-content: space-around;
}

.btn6 {
	width: 26.5rem;
	height: 4.5rem;
	margin-top: 2rem;
	border-radius: 0.5rem;
	font-size: 2rem;
	cursor: pointer;
	background-color: #1ecbe2;
}

.follow {
	font-family: "Permanent Marker", cursive;
}

#prepare {
	height: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.text_prepare {
	padding-top: 2rem;
	font-family: "Alfa Slab One", cursive;
	letter-spacing: 3px;
	font-size: 2rem;
}
.text_explaining {
	padding-top: 2rem;
	letter-spacing: 1px;
	font-family: "Bangers", cursive;
	color: #ccc;
}

#center_logo {
	height: 30rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cruise {
	padding-top: 10rem;
	padding-bottom: 2rem;
}

.containter-heart {
	display: flex;
	font-family: "Alfa Slab One", cursive;
	font-size: 1.5rem;
}

.containter-heart img {
	height: 1.5em;
}
footer {
	height: 15rem;
	background-color: black;
	font-size: 3.5rem;
}

#wrapping_footer {
	display: flex;
	align-content: space-around;
	justify-content: space-around;
}

.container_left {
	color: rgb(233, 232, 232);
	padding-top: 2rem;
	padding-left: 2rem;
	width: 30rem;
	height: 15rem;

	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}

.container_right {
	width: 30rem;
	height: 15rem;

	padding-top: 2rem;
	padding-left: 1rem;
}

.container_right img {
	border-radius: 80%;
	background-color: #1ecbe2;
	margin-left: 1rem;
}
