* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

body {
	width: calc(100%-230px);
	width: -moz-calc(100%-230px);
	width:-webkit-calc(100%-230px);
	height:100%;
	float:right;
	margin-left:-230px;
	background-color: yellow;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	font-size: 14;
	line-height: 20px;
}

header {width: 230px;
	height: 100%;
position: fixed;
left: 0px;
	top: 0px;
	}

nav {

	width: 230px;
	height: 100%;
	background-color: paleturquoise;
	position: fixed;
	
	left: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid rgb(255, 255, 255);
}

#logo {
	position: relative;
	margin: 50px 40px 40px 0;
	float: none;
	width: 230px;
	height: 200px;
	background-color: yellowgreen;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	background-color: cornflowerblue;
	width: 230px;
	height: auto;
	padding-right: 50px;
}

li a {
	display: block;
	padding-right: 50px;
	padding-left: 0px;
	color: cadetblue;
	font-size: 15px;
	font-weight: 700;
	text-align: right;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	color: black;
	padding: 10px;
	text-decoration: none;
	font-weight: bolder;
	list-style: none;
}

li a.current {
	background-color: orangered;
	color: white;
}

li a:hover {
	background-color: rgb(43, 134, 194);
	color: white;
}

#under_box {
	width: 230px;
	height: 150px;
	background-color: coral;
	margin-top: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box img {
	border-radius: 80%;
	background-color: rgb(107, 168, 248);
	margin-left: 10px;
}



section {
	position: absolute; top: 0; right: 0;
	width: calc(100% - 230px);
	width: -moz-calc(100% - 230px);
	width:-webkit-calc(100% - 230px);}

/* 페이지 띄워서 첫 화면의 모습입니다 */
#slider {

	height: 1000px;
	background-color: darkgray;
	background-image: url(../img/vacations.jpg); background-size: cover; 
	background-repeat: no-repeat;

}


#dates {
	
	height: 150px;
	background-color: bisque;
}

.text_field {
	border-radius: 5px;
	color: #0b5e73;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	letter-spacing: 0;
	text-transform: none;
	margin-left: 20px;
	padding: 10px;
}

input::placeholder {
	color: #ccc;
	font-style: italic;
}

input {
	font-size: 20px;
	padding: 10px;
}

textarea::placeholder {
	color: blanchedalmond;
	font-weight: bold;
}

label {
	display: block;
	margin-bottom: 5px;
}

w-input,
w-select {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	margin-bottom: 10px;
	line-height: 1.4285;

	background-color: #ffffff;
	border: 1px solid #cccccc;
}

#day {
	width: 200px;
	padding: 10px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	border: 1px solid #999;
	border-radius: 0px;

	-webkit-appearance: none;
	-moz-appearance: none;
	/*appearance: none;*/
}

#dates {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.max {
	margin-left: 100px;
}

.send {
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 100px;
	background-color: bisque;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #333;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.blob-btn {
	z-index: 1;
	position: relative;
	padding: 20px 46px;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #4cebeb;
	font-size: 16px;
	font-weight: bold;
	background-color: transparent;
	outline: none;
	border: none;
	transition: color 0.5s;
	cursor: pointer;
}
.blob-btn:before {
	content: "";
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 6px solid #0fe0f5;
}
.blob-btn:after {
	content: "";
	z-index: -2;
	position: absolute;
	left: 9px;
	top: 9px;
	width: 100%;
	height: 100%;
	border: 6px solid #222;
	transition: all 0.3s 0.2s;
}
.blob-btn:hover {
	color: #222;
}
.blob-btn:hover:after {
	transition: all 0.3s;
	left: 0;
	top: 0;
}
.blob-btn__inner {
	z-index: -1;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.blob-btn__blobs {
	position: relative;
	display: block;
	height: 100%;
	filter: url("#goo");
}
.blob-btn__blob {
	position: absolute;
	top: 6px;
	width: 25%;
	height: 100%;
	background: #0fe0f5;
	border-radius: 100%;
	transform: translate3d(0, 150%, 0) scale(1.7);
	transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
	.blob-btn__blob {
		transform: translate3d(0, 150%, 0) scale(1.4);
	}
}
.blob-btn__blob:nth-child(1) {
	left: 0%;
	transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
	left: 30%;
	transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
	left: 60%;
	transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
	left: 90%;
	transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
	transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
	.blob-btn:hover .blob-btn__blob {
		transform: translateZ(0) scale(1.4);
	}
}

#img {

	height: 60px;
	background-color: aquamarine;
	display: flex; align-items: center; justify-content: center;
	padding-top: 200px;
	padding-bottom: 50px;
}


.text {

	height: 100px;
	background-color: rgb(47, 77, 67);
	display: flex; align-items: center; justify-content: center;

}

.text2 {
	
	height: 100px;
	background-color: rgb(94, 136, 122);
	display: flex; align-items: center; justify-content: center;
	padding-bottom: 100px;

}





#offers {

	height: 800px;
	background-color: darkorange;
	border-bottom: 1px solid #bdb0b0;
	display: flex; align-items: center; justify-content: center;
	border: 1px solid #ccc;  	

}

.container{
	overflow: hidden;
}

#offers img {
		max-width: 100%;
		vertical-align: middle;
		display:inline-block;
	border: 1px solid #ccc;
	
    transform:scale(1);
 
    transition:.2s;
	
}

#offers :hover img {

    transform:scale(1.1); cursor:pointer;
}

.tour {
	font-size: 14pt; padding-top:30px;
}

#wrap_1 {
	border-bottom: 1px solid #ccc;
	
	border-right: 1px solid #ccc;
}



#experience {
	
	height: 1200px;
	background-color: darkviolet; display: flex; align-items: center; justify-content: center;

	background-image: url(../img/cr.png); display: flex; align-items: center; justify-content: center;
}




.map {
	width: 30px; display: flex; align-items: flex-start;

}

.icecream {width:450px; height:300px; background-color: ivory;}

#box_cr{
	width: 1000px;
	height: 300px;
	background-color: crimson;
	display: flex; align-content: stretch; justify-content: space-around; flex-wrap: wrap; flex-direction: column; align-items: center;
	position: relative;
	top:-47vh;
}


.map{width: 30px; height:auto;}

#wrap_3{
	display: flex; justify-content: space-around;
}
.box_3 {
	width: 350px;
	height: 250px;
	background-color: darkgrey;
	
}






#services {

	height: 1000px;
	background-color: dodgerblue;
}

#experts {
	
	height: 600px;
	background-color: blanchedalmond;
}

#destinations {
	
	height: 850px;
	background-color: brown;
}

#ad {
		width: -moz-calc(100%-230px);
	height: 900px;
	background-color: darksalmon;
}

footer {
	
		
	height: 130px;
	background-color: darkturquoise;
}
