* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

html {
	/*font-size: 10px; */
	/*10px / 16px =0.625 = 62.5% */
	/*percentage of user's browser font-size setting*/
	font-size: 62.5%;
}

body {
	width: calc(100%-23rem);
	width: -moz-calc(100%-23rem);
	width: -webkit-calc(100%-23rem);
	height: 100%;
	float: right;
	margin-left: -23rem;

	font-size: 1.5rem;
	line-height: 2rem;

	font-size: 14;
	line-height: 2rem;
}

header {
	width: 23rem;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
}

nav {
	width: 23rem;
	height: 100%;

	position: fixed;

	left: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid rgb(255, 255, 255);
}

#logo {
	position: relative;
	margin: 0;
	float: none;
	width: 23rem;
	height: 20rem;
	background-color: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo img {
	width: 20rem;
	height: 20rem;
	margin-top: 10rem;
	margin-left: 3rem;
}

ul {
	width: 23rem;
	height: auto;
	padding-right: 5rem;
}

li a {
	display: block;
	padding-right: 5rem;
	padding-left: 0px;
	color: cadetblue;
	font-size: 1.5rem;
	font-weight: 70rem;
	text-align: right;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	color: black;
	padding: 1rem;
	text-decoration: none;
	font-weight: bolder;
	list-style: none;
}

li a.current {
	background-color: orangered;
	color: white;
}

li a:hover {
	background-color: rgb(43, 134, 194);
	color: white;
}

#under_box {
	width: 23rem;
	height: 15rem;
	margin-top: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box img {
	border-radius: 80%;
	background-color: #1ecbe2;
	margin-left: 1rem;
}

section {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 23rem);
	width: -moz-calc(100% - 23rem);
	width: -webkit-calc(100% - 23rem);
}

/* 페이지 띄워서 첫 화면의 모습입니다 */
#slider {
	height: 100rem;
	background-color: darkgray;
	background-image: url(../img/westerdam.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#dates {
	height: 15rem;
	background-color: bisque;
}

.text_field {
	border-radius: 0.5rem;
	color: #0b5e73;
	font-size: 1.5rem;
	font-weight: 40rem;
	text-align: left;
	letter-spacing: 0;
	text-transform: none;
	margin-left: 2rem;
	padding: 1rem;
}

input::placeholder {
	color: #ccc;
	font-style: italic;
}

input {
	font-size: 2rem;
	padding: 1rem;
}

textarea::placeholder {
	color: blanchedalmond;
	font-weight: bold;
}

label {
	display: block;
	margin-bottom: 0.5rem;
}

w-input,
w-select {
	display: block;
	width: 100%;
	height: 4rem;
	padding: 1rem 1.5rem;
	margin-bottom: 1rem;
	line-height: 1.4285;

	background-color: #ffffff;
	border: 1px solid #cccccc;
}

#day {
	width: 20rem;
	padding: 1rem;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	border: 1px solid #999;
	border-radius: 0px;

	-webkit-appearance: none;
	-moz-appearance: none;
	/*appearance: none;*/
}

#dates {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.max {
	margin-left: 10rem;
}

.send {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 10rem;
	background-color: bisque;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.blob-btn {
	z-index: 1;
	position: relative;
	padding: 2rem 4.5rem;
	margin-bottom: 3rem;
	text-align: center;
	text-transform: uppercase;
	color: #4cebeb;
	font-size: 1.6rem;
	font-weight: bold;
	background-color: transparent;
	outline: none;
	border: none;
	transition: color 0.5s;
	cursor: pointer;
}
.blob-btn:before {
	content: "";
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 6px solid #0fe0f5;
}
.blob-btn:after {
	content: "";
	z-index: -2;
	position: absolute;
	left: 9px;
	top: 9px;
	width: 100%;
	height: 100%;
	border: 6px solid #222;
	transition: all 0.3s 0.2s;
}
.blob-btn:hover {
	color: #222;
}
.blob-btn:hover:after {
	transition: all 0.3s;
	left: 0;
	top: 0;
}
.blob-btn__inner {
	z-index: -1;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.blob-btn__blobs {
	position: relative;
	display: block;
	height: 100%;
	filter: url("#goo");
}
.blob-btn__blob {
	position: absolute;
	top: 6px;
	width: 25%;
	height: 100%;
	background: #0fe0f5;
	border-radius: 100%;
	transform: translate3d(0, 150%, 0) scale(1.7);
	transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
	.blob-btn__blob {
		transform: translate3d(0, 150%, 0) scale(1.4);
	}
}
.blob-btn__blob:nth-child(1) {
	left: 0%;
	transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
	left: 30%;
	transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
	left: 60%;
	transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
	left: 90%;
	transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
	transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
	.blob-btn:hover .blob-btn__blob {
		transform: translateZ(0) scale(1.4);
	}
}

#img {
	height: 6rem;

	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20rem;
	padding-bottom: 5rem;
}

.text {
	height: 10rem;
	background-color: white;
	font-size: 3vh;
	font-family: "Faster One", cursive;
	display: flex;
	align-items: center;
	justify-content: center;
}

#offers {
	height: 800px;

	border-bottom: 1px solid #bdb0b0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
}

.container {
	overflow: hidden;
}

#offers img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #ccc;

	transform: scale(1);

	transition: 0.2s;
}

#offers :hover img {
	transform: scale(1.1);
	cursor: pointer;
}

.tour {
	font-size: 14pt;
	padding-top: 30px;
	font-family: "Bangers", cursive;
}

#wrap_1 {
	border-bottom: 1px solid #ccc;

	border-right: 1px solid #ccc;
}

#experience {
	width: 100%;
	height: 1200px;

	background-image: url(../img/cr.png);
	background-position: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-around;
}

.map {
	width: 30px;
	display: flex;
	align-items: flex-start;
}

.icecream {
	width: 450px;
	height: 300px;
	background-color: ivory;
}

#box_cr {
	width: 1200px;
	height: 300px;

	display: flex;
	align-content: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	margin-left: 20px;
	font-family: "Abril Fatface", cursive;
}

.ultimate {
	color: white;
}

.beautiful {
	color: rgb(189, 186, 186);
}

.map {
	width: 30px;
	height: auto;
}

#wrap_3 {
	display: flex;
	justify-content: space-around;
}
.newyork {
	font-family: "Bangers", cursive;
}
.box_3 {
	width: 350px;
	height: 250px;
	background-color: darkgrey;
	margin-left: 30px;
	background-color: yellow;
}

.box_3 img {
	width: 150px;
	height: 250px;
}

.text_3 {
	width: 200px;
	height: 250px;
	background-color: aliceblue;
	position: relative;
	bottom: 255px;
	left: 150px;
}

.extended {
	width: 100%;
	height: 150px;

	border: 1px solid #ccc;
}

.web {
	color: #1ecbe2;
}
.container_2 {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	font-size: 5vh;
	font-weight: bold;
	font-family: "Road Rage", cursive;
}

.btn2 {
	display: inline-block;
	width: 300px;
	height: 80px;
	position: relative;
	font-size: 20px;
	font-family: "Road Rage", cursive;
	cursor: pointer;
	padding: 0.8em 1em;
	border: 1px solid #333;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(black, 0.2);
	background: lighten(#f0f4c3, 10%);
	transform: translate3d(0, 0, 0);
}

.wave {
	opacity: 0.4;
	position: absolute;
	bottom: 3%;
	left: 50%;
	background: #0af;
	width: 300px;
	height: 300px;
	margin-left: -160px;
	margin-bottom: -350px;
	transform-origin: 50% 48%;
	border-radius: 30%;

	transition-duration: 0.75s;
	transition-property: margin-bottom;
	transition-timing-function: ease;
}

button:hover .wave {
	margin-bottom: -250px;
	animation: rotate 4000ms infinite linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}

.btn_text {
	font-size: x-large;
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#services {
	height: 900px;
	background-color: dodgerblue;
	font-family: "Pacifico", cursive;
}

#core_sv {
	height: 350px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 10vh;
}

.core_svs {
	font-size: 2.5vh;
	padding-top: 30px;
	padding-bottom: 2.5vh;
	font-family: "Alfa Slab One", cursive;
}

.core_explain {
	font-size: 2vh;
	padding-bottom: 1.5vh;
	color: rgb(209, 205, 205);
	font-family: "Bangers", cursive;
}

.core_explain2 {
	font-size: 2vh;
	color: rgb(209, 205, 205);
	font-family: "Bangers", cursive;
}

#explain {
	height: 1200px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#container_1 {
	width: 350px;
	height: 250px;

	margin-right: 40px;
}

#container_1 img {
	width: 65px;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	font-family: "Permanent Marker", cursive;
}

.next_to {
	width: 280px;
	height: 250px;

	position: relative;
	left: 70px;
	bottom: 70px;
	font-family: "Secular One", sans-serif;
}

#wrapping {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 900px;
	margin-right: 20px;
}

.btn3 {
	width: 100px;
	height: 30px;
	cursor: pointer;
}

.blabla_2 {
	text-decoration: underline;
}

#experts {
	height: 600px;
	width: auto;
	background-color: cyan;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#devices {
	width: 400px;
	height: 600px;
	background-color: darkcyan;
}

#list_experts {
	width: 400px;
	height: 400px;
	background-color: yellow;
}

.computer {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(odg)
		rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
}

.discount {
	font-family: "Secular One", sans-serif;
}

.we {
	font-size: 2.5rem;
	font-family: "Permanent Marker", cursive;
}

.we_explain {
	font-family: "Permanent Marker", cursive;
}
.boat {
	width: 1rem;
	height: 1rem;
}

.btn4 {
	width: 15rem;
	height: 3rem;
	border-radius: 5px;
	color: deepskyblue;
}

#destinations {
	height: 40rem;
	width: auto;
	background-color: brown;
	padding-top: 10rem;
	display: flex; 
flex-direction: column;
	align-items: space-between;
	
}

#destiny{
	display: flex;flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column



}

.popular {
	font-family: "Alfa Slab One", cursive;
	font-size: 2.5vh;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
#ad {
	width: -moz-calc(100%-230px);
	height: 90rem;
	background-color: darksalmon;
	
	
}
#ad :hover img {
	transform: scale(1.1);
	cursor: pointer;
}

.tourbox_container{
	overflow: hidden;
	display: flex;align-items: center;justify-content: center; }

#ad img {
	max-width: 100%;
	vertical-align:middle;
	display:inline-block;
	border: 1px #ccc solid;

	transform: scale(1);
	transition: 0.2s 0.1s;
}




#special_tours {
	height: 60rem;
	background-color: yellowgreen;
}


#special_tours img {
width:100%; border: 1px #ccc solid; position: relative;
}


#special_tours :hover img {
	transform: scale(1.1);
	cursor: pointer;
}


.tours_container {
	display: flex; overflow: hidden;
}

.price_container {
	display: flex; justify-content: space-around;
	font-family: "Bangers", cursive;
	border: 2px sollid #ccc;
	height: 7rem;
	width: 100%;
	background-color: tomato;
	padding-top: 2rem;
	
	}

	.tour_description {
		width: 100%;
		height:15rem;
		background-color: thistle;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-bottom: 3rem;
	}
footer {
	height: 13rem;
	background-color: darkturquoise;
}
.btn5{ display: flex; justify-content: flex-start; align-items: center; padding-top: 1rem;}