* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;



}
	



ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

html {
	/*font-size: 10px; */
	/*10px / 16px =0.625 = 62.5% */
	/*percentage of user's browser font-size setting*/
	font-size: 62.5%;
}
