*{box-sizing: border-box;
margin: 0 ;
padding:0;}

nav{ width: 350px; height: 100%;
background-color: paleturquoise;}

li{list-style: none;}

ul {
  background-color: cornflowerblue;
  width: 150px;
  height: auto;
  padding: 0;
  margin: 0;


}

li a {
  display: block;
  color: gray;
  padding: 10px;
  text-decoration: none;
  font-weight: bolder;
  list-style: none;

}

li a.current {
    background-color: orangered;
    color:white;
}

li a:hover {
  background-color: rgb(43, 134, 194);
  color: white;
}