header {
	display: block;
	width: 23rem;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: none;
	border-right: 1px solid #ccc;
	background-color: none;
}

#messenger_box {
	width: 23rem;
	height: 25rem;

	display: flex;
	justify-content: center;
}

section {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 23rem);
	width: -moz-calc(100% - 23rem);
	width: -webkit-calc(100% - 23rem);
	font-family: Arial, Helvetica, sans-serif;
}
#title {
	width: 100%;
	height: 4rem;
	text-align: center;
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	background-color: #1ecbe2;
}

#navi {
	width: 100%;
	height: 6rem;

	margin-top: 3rem;
}

.vacay {
	font-size: 3rem;
	text-transform: uppercase;
	padding-left: 2rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.vacation {
	display: flex;
	justify-content: space-between;
}

.four-contents {
	width: 40rem;
	height: 20rem;
	font-size: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-around;
	padding-right: 10rem;
}

.four-contents img {
	width: 3.5rem;
	height: 4rem;
	text-align: center;
}

#featured-post {
	width: 100%;
	height: 73rem;

	display: flex;
	justify-content: space-around;
}

.featured-post-left {
	width: 45%;
	height: 45rem;

	margin-top: 15rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: space-around;
	flex-wrap: wrap;
	justify-content: space-around;
}

.featured-post-right {
	width: 45%;
	height: 60rem;
	background-image: url(../img/stanleypark.png);
	margin-top: 6rem;
	border-radius: 5em;
	background-color: paleturquoise;
	background-position: center;
	background-size: cover;
}

.wrap-for-svg {
	 display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.svg-stamp {
	

	transform: rotate(25deg);
	width: 20rem;
	height:20rem;
	animation: stamp 2s ease-in-out infinite alternate;
}

.wrap-for-svg {
	width:20rem;
	height:20rem;
	background-color: blueviolet;
}
#container_svg {
	width: 100%;
	height: 60rem;
	display: flex;

	justify-content: space-around;
	z-index: 600;
	align-items: stretch;
}

#back-wheel,
#front-wheel {
	animation: wheel 1s infinite linear;
	transform-origin: center;
	transform-box: fill-box;
}

#woman-bike {
	animation: bike 1s ease-in-out infinite alternate;
	transform-origin: bottom;
}

@keyframes wheel {
	from {
		transform: rotateZ(0deg);
	}

	to {
		transform: rotateZ(360deg);
	}
}

@keyframes bike {
	from {
		transform: rotateX(4deg);
	}

	to {
		transform: rotateX(10deg);
	}
}

@keyframes stamp {
	from {
		transform: rotateX(0deg);
	}

	to {
		transform: rotate(25deg);
	}
}

.featured-left {
	text-transform: uppercase;
	font-size: 1.3rem;
	font-family: Arial, Helvetica, sans-serif;
	width: 12rem;
	height: 3rem;
}

.featured-title {
	font-size: 5rem;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: 900;
	width: 50rem;
	height: 13rem;
}

.featured-explain {
	width: 50rem;
	height: 11rem;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
}

.featured-button {
	width: 20rem;
	height: 2rem;
	padding-bottom: 4rem;
	padding-top: 2rem;

	background-color: #1ecbe2;
	border-radius: 5rem;
	font-size: 2rem;
	display: flex;
	align-content: center;
	justify-content: center;
}

#trending-posts {
	width: 100%;
	height: 5rem;
	margin-bottom: 3rem;
	display: flex;
	align-content: space-between;
	justify-content: space-between;
}

.trending-posts-left {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 4rem;
	margin-left: 3rem;
	font-weight: 600;
}

.trending-posts-right {
	width: 20rem;
	height: 5rem;
	font-size: 2rem;
	margin-right: 10rem;
	text-align: center;
	padding: 1rem;
	
	border-radius: 5rem;
}

#boxes-posts {
	width: 100%;
	height: 50rem;
	background-color: none;
	
	display: flex;
	align-content: flex-end;
	 justify-content: space-around;
}




.around-downtown {
	width:45%;
	height:35rem;
	
	border-radius: 3rem;
}

.around-downtown img {
 width: 75rem; height: 35rem; border-radius: 2rem;
}

.wrap-around-downtown {
	width:50%; height:50rem;
	
}
.point {
	margin-top: 2rem;
	width:fit-content;
	border: 2px solid #ccc;
	border-radius: 2rem;
	font-size: 2rem;
	display: block;
	padding: 5px;
}
.garden-tour {
	width:45%;
	height:35rem;

	border-radius: 3rem;
}

.the-place {
	margin-top: 3rem;
	width:75rem;
	height:5rem;
	font-size: 3rem;
	font-family: Georgia, "Times New Roman", Times, serif;;
}

.the-date {
	color:rgb(104, 102, 102);
	letter-spacing: 1rem;
}

#boxes-posts-second {
	width: 100%;
	height: 50rem;
	background-color: none;
	display: flex;
	align-content: flex-end;
	justify-content: space-around;
	margin-top: 5rem;
}


#boxes-posts-third {
	width: 100%;
	height: 50rem;
	background-color: none;
	display: flex;
	align-content: flex-end;
	justify-content: space-around;
	margin-top: 5rem;
}


#words-me {
	width: 100%;
	height: 50rem;
	background-color: lightskyblue;
}

#places {
	width: 100%;
	height: 80rem;
	background-color: lightsalmon;
}

#recent-posts {
	width: 100%;
	height: 75rem;
	background-color: navajowhite;
}

#popular {
	width: 100%;
	height: 40rem;
	background-color: olive;
}

#email {
	width: 100%;
	height: 20rem;
	background-color: tomato;
}


