* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 62.5%;
}

#container_svg {
	width: 100%;
	height: 30rem;
	background-color: blanchedalmond;
	display: flex;
	align-items: center;
	justify-content: center;
}

#back-wheel,
#front-wheel {
	animation: wheel 1s infinite linear;
	transform-origin: center;
	transform-box: fill-box;
}

#woman-bike {
	animation: bike 1s ease-in-out infinite alternate;
	transform-origin: bottom;
}

@keyframes wheel {
	from {
		transform: rotateZ(0deg);
	}

	to {
		transform: rotateZ(360deg);
	}
}

@keyframes bike {
	from {
		transform: rotateX(4deg);
	}

	to {
		transform: rotateX(10deg);
	}
}
