*{box-sizing: border-box;
margin: 0 ;
padding:0;}

ul li {list-style: none;}


body{
  height: 100%;
  margin: 0 0 0 230px;
  background-color: yellow;
  font-size:14px;
  line-height: 20px;
}
  
  
nav{ width: 350px; height: 100%;
background-color: paleturquoise; display: block;}

 
  #logo {position:relative;margin:50px 40px 40px 0;
  float: none; width: 300px; height: 200px; background-color: yellowgreen;}


  li{display: inline;}

  ul {
  background-color: cornflowerblue;
  width: 150px;
  height: auto;
  padding: 0;
  margin: 0;


}

   li a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-weight: bolder;
  list-style: none;

}

li a.current {
    background-color: orangered;
    color:white;
}

li a:hover {
  background-color: rgb(43, 134, 194);
  color: white;
}

#slider {

}

#explain{

}

#core_services {

}

#experts {

}

#tour{

}

#explain2{

}

footer{

}